body {
    color: #dbdbdb
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

:root {
    --navbar-height: 4em;
    --main-height: calc(100% - var(--navbar-height))
}

#chat,
#chat-count {
    overflow-y: auto;
    border: none;
}

#chat {
    border-top: solid #24292e 4px;
    border-bottom: solid #24292e 4px;
}

#chat::-webkit-scrollbar {
    display: none;
}

#chat-count {
    border-left: solid #24292e 4px;
    background-size: 200% 201%;
    background-image: linear-gradient(to top, #e6e6e6 50%, transparent 50%);
    -webkit-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -moz-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -ms-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -o-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
}

#chat-count ol li {
    border: none;
}

#file-input {
    display: none;
    height: 0;
}

.button, .button:hover {
    border-radius: 40%;
    vertical-align: middle;
    height: auto;
    width: 38px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #24292e;
}

.form-control, .input-group {
    border-radius: .25rem;
}

.input-group {
    background-color: #24292e;
}

.add-chat-box {
    color: white;
    background-image: linear-gradient(to top, #e6e6e6 50%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -moz-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -ms-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -o-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
}

#search-chat,
#message-input {
    border-radius: .25rem;
    background-color: #24292e;
    border: none;
}

#search-chat:focus,
#message-input:focus {
    background-color: #e6e6e6;
    color: #24292e;
}

.message {
    color: #e6e6e6;
    margin: 1px;
    padding: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.message small {
    font-size: 14px;
    color: #9DA3B6;
}

.img, .vid {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: #24292e;
    height: var(--navbar-height);
}

.main-row {
    height: var(--main-height);
}

label {
  color:#24292e;
}

#btn-log, #btn-ext, #btn-reg {
    width: 120px;
}

.list-group-item-action, .list-group-item-action:hover {
  color: white;
  cursor: pointer;
}

#chat-count.btn {
  color: white !important;
  margin: 3px;
}
