#chat,
#chat-count {
    overflow-y: auto;
    border: none;
    background-color: #6D747E;
}

#chat-count {
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #fff 50%, transparent 50%);
    -webkit-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -moz-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -ms-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -o-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
}

#file-input {
    display: none;
    height: 0;
}

.button {
    border-radius: 40%;
    vertical-align: middle;
    height: auto;
    width: 38px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #6D747E;
}

.button:hover {
    border-radius: 40%;
    vertical-align: middle;
    height: auto;
    width: 38px;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #6D747E;
}

.form-control {
    border-radius: .25rem;
}

.add-chat-box {
    color: white;
    background-image: linear-gradient(to top, #fff 50%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -moz-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -ms-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    -o-transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
    transition: background-position 700ms, color 700ms ease, border-color 700ms ease;
}

#search-chat,
#message-input {
    border-radius: .25rem;
}

.button:active {
    background-color: #353B40;
}

.message {
    margin: 1px;
    padding: 10px;
    border-radius: 6px;
    max-width: 60%;
    word-wrap: break-word;
}

.message.in {
    color: #000;
    background-color: #fff !important;
}

.message.out {
    color: #fff;
    background-color: #353B40 !important;
}

.message.head {
    margin-top: 1em;
}

.message.in.head.text {
    border-radius: 6px 20px 6px 6px;
}

.message.out.head.text {
    border-radius: 20px 6px 6px 6px;
}

.message.tail {
    margin-bottom: 1em;
}

.message.tail.text {
    border-radius: 6px 6px 20px 20px;
}

.message.out.head.tail.text {
    border-radius: 20px 6px 20px 20px;
}

.message.in.head.tail.text {
    border-radius: 6px 20px 20px 20px;
}

.message small {
    font-size: 10px;
}

.img {
    max-width: 100%;
    height: auto;
}
